.home {
    padding: 20px;
}

.no-data {
    justify-content: center;
    display: flex;
}

.nd-container {
    width: 30%;
    height: auto;
    text-align: center;
}

.no-data-title {
    color: cadetblue;
}

.loading {
    display: flex;
    margin-inline: auto;
    margin-top: 10%;
}

.p-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.p-heading {
    color: cadetblue;
    margin: 0;
}

.custom-btn {
    border: 2px solid cadetblue;
    border-radius: 10px;
    padding-inline: 20px;
    color: cadetblue;
    display: flex;
    cursor: pointer;
}

.new-post {
    align-self: center;
}