.h-container {
    background: cadetblue;
    border: none;
    padding: 10px 20px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
}

.logo {
    width: max-content;
    max-width: 200px;
}

.h-menu {
    margin-block: auto;
}

.h-menu-li {
    margin-inline: 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.h-menu-li:hover {
    color: #000;
}