.signup {
    margin-inline: auto;
    max-width: 600px;
    margin-top: 10%;
}

input {
    width: 100%;
}

.form-signup {
    padding: 50px 20px;
    border: 2px solid #f3f3f3;
    text-align: center;
}
